[buildout]
develop = .
parts = echo

[facts]
recipe = isotoma.recipe.facts

[echo]
recipe = missingbits:echo
echo =
    The hostname is ${facts:hostname}
    The fdqn is ${facts:fqdn}
    The main IP address is ${facts:interfaces.eth0.address}
    The VCS type is ${facts:vcs.type} and branch is ${facts:vcs.branch}
    The user is ${facts:user.name} and their home dir is ${facts:user.home}

